{% extends 'Frontend/layout.html.twig' %}

{% block pageTitle %}{% trans %}Git{% endtrans %}{% endblock %}

{%- block stylesheets -%}
{{ parent() }}
<link href="{{ asset('/assets/css/frontend/site.css') }}" rel="stylesheet">
{% endblock %}

{%- block javascript -%}
{{ parent() }}
<script type="text/javascript" src="{{ asset('/assets/js/ace.min.js') }}"></script>
{% endblock %}

{% block body %}

<div class="container-fluid container-limited-width" id="app-git">

    {{ include('Frontend/Site/Partial/Git/_modal.html.twig') }}

    <div class="site-container">
        {{ include('Frontend/Site/Partial/site-info.html.twig', {'site': site}) }}
        <div class="site-content-container">
            {{ include('Frontend/Site/Partial/tab-container.html.twig', {'active': 'git', 'site': site}) }}
            {{ include('Partial/flash-messages.html.twig', { 'flashBagMessages': app.session.flashbag.all }) }}
            <div class="site-content">

                <div class="card">
                    <div class="card-header d-flex justify-content-between">
                        {% trans %}Git Manager{% endtrans %}
                        <div>
                            <button v-if="gitBranch" class="btn btn-md btn-outline-secondary me-2">Logs</button>
                            <button v-if="gitBranch" class="btn btn-md btn-blue" @click="handleDeploy">Deploy
                                Now</button>
                        </div>
                    </div>
                    <div class="card-body">

                        {{ include('Frontend/Site/Partial/Git/_ssh_key.html.twig') }}
                        {{ include('Frontend/Site/Partial/Git/_webhook_url.html.twig') }}
                        {{ include('Frontend/Site/Partial/Git/_git_form.html.twig') }}
                        {{ include('Frontend/Site/Partial/Git/_save_button.html.twig') }}

                    </div>

                </div>

            </div>
        </div>
    </div>
</div>

{{ include('Frontend/Site/Partial/Git/_vue_app.html.twig') }}

{% endblock %}
